<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Order Confirmation</title>
</head>
<body>
  <!-- CUSTOMISE ME - I'M THE SUPPLIER ORDER CONFIRMATION EMAIL TEMPLATE-->
  <h1>Welcome to example.com, <%= "supplier test" %></h1>
  <p>
    You have successfully signed up to example.com,
    your username is: <%= "supplier test" %>.<br>
  </p>
  <p>
    To login to the site, just follow this link: <%= "supplier test" %>.
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>